.view-projects{
  width: 70%;
  /*border: 5px solid #FFFF00;*/
  position: absolute; top: 230px;
  margin: auto auto auto 120px;
  padding: 10px;
}
.view-projects table{
  width: 100%;
}
.view-projects button{
  align-items: flex-end;
}
