<div class="row view-projects">
    <h2>Customers</h2>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#Id</th>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">SurName</th>
          <th scope="col">Created At</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userResponse?.content | paginate: {itemsPerPage: size, currentPage: page, totalItems: userResponse?.totalElements} ">
          <th scope="row">{{user.identifier}}</th>
          <td>{{user.username}}</td>
          <td>{{user.name}}</td>
          <td>{{user.surname}}</td>
          <td>{{user.createdAt | date:'yyyy-MM-ddTHH:mm:ss.SSS':'+0:00' }}Z</td>
          <td *ngIf="!user.account">
            <a (click)="onCreateAccount(user.identifier)">Create account</a>
          </td>
          <td  *ngIf="user.account">
            <a (click)="onDetailsCustomer(user.identifier)">Account details</a>
          </td>
        </tr>
        </tbody>
      </table>
  <div class="text-right">
    <pagination-controls  (pageChange)="loadPage($event)">
    </pagination-controls>
  </div>
</div>
