.create-projects{
  width: 70%;
  position: absolute; top: 250px;
  margin: auto auto auto 120px;
  padding: 10px;
}
.create-projects table{
  width: 100%;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}
#msform fieldset:not(:first-of-type) {
  display: none;
}
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}
